pip install numpy 
pip install pyqt5
به دلیل اینکه شما با دستور اخرین ورژن  را نصب میکنید و من با ورژن  کمتر از این این فایل گرافیک را ساخته ام فایل گرافیک را نصبت  اخرین ورژن اپدیت کرده ام  و دوباره برای شما ارسال کرده ام 
 و اگر فایل قبلی ارور داد از این فایل جایگزین استفاده کنید 

pip install random
pip install time
pip install matplotlib